.DS_Store
CourseWork/.DS_Store
CourseWork/assign_1/.DS_Store
CourseWork/assign_2-3/.DS_Store
CourseWork/assign_4/.DS_Store
CourseWork/assignment5/.DS_Store
CourseWork/assignment5a/.DS_Store
htmlCSS_Final/.DS_Store
