/* assignment 5 - style.css */

/* import Lato font */
/* do not remove this @import. It's used to import a font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
    font-family: 'Lato', sans-serif;
}

html {
    background-image: url(../images/calvin-hobbs.JPG);
    background-repeat: repeat-x;
    background-position: bottom center;
    background-color: #00010D;
    background-attachment: fixed;
}

body {
    margin: 0 auto;
    /* margin collapse use padding for spacing (t/b) (l/r)*/
    padding: 40px;
    width: 1024px;
    left: 275px;
}

header {
    width: 1075px;
    margin: auto;
    padding: 5px;
    border: 10px double #D3A549;
    border-radius: 15px;
    background-color: #235B77;
    text-align: center;
    color: #D3A549;
}

section {
    background-color: #F1F5F4;
}

p, ul {
    color: #1E2E3B;
}

aside {
    width: 384px;
    padding: 20px;
    margin: 0px -70px;
    float: right;
}

aside h2 {
    color: #D3A549;
    text-align: left;
}

.hobbies ul {
    padding-bottom: 15px;
}

.hobbies ul li {
    list-style-type: circle;
    line-height: 1.25;
}

.who ul {
    list-style-type: none;
    text-indent: 0px;
}

.who a {
    font-weight: bold;
}

.who p {
    padding-bottom: 15px;
    line-height: 1.5;
    text-align: center;
}

#smiles {
    margin: 15px 3px 3px 120px;
    box-shadow: -8px -1px 15px #235B77;
    /* h-offset v-offset blur spread color */
    border-radius: 20px;

}

.goals {
    height: 539px;
}

.goals dd {
    margin-bottom: 25px;
}

main {
    padding: 20px;
    width: 640px;
    margin: 0px;
    float: left;
}

h2, aside h2 {
    margin: auto;
    padding: 3px 0px 0px 5px;
    border-bottom: 3px solid #D3A549;
    background-color: #235B77;
    text-align: center;
}

main h2 {
    color: #D3A549;
}

.description p {
    padding-bottom: 25px;
    padding-left: 15px;
    margin: 10px 15px 25px 0px;
    text-align: left;
    line-height: 1.25;
}

img#smoker {
    margin: 15px;
    margin-right: 45px;
    margin-left: 50px;
    padding: 5px;
    border: 2px solid #D3A549;
    border-radius: 25px;
    float: right;
}

.jobs li {
    width: 560px;
    padding-bottom: 15px;
    list-style-type: circle;

}

.nerd {
    margin: 0px;
    padding-bottom: 15px;
    float: left;
}

dt {
    padding: 15px;
    color: #1E2E3B;
    font-weight: bold;
    text-decoration: underline;
}

dd {
    padding-right: 25px;
    color: #1E2E3B;
    line-height: 1.5;
}

section .degree {
    margin: 0px;
    padding-bottom: 15px;
}

footer {
    width: 1075px;
    margin: 10px 0px;
    padding: 5px;
    /* margin collapse use padding for spacing */
    clear: both;
    border: 10px double #D3A549;
    border-radius: 10px;
    background-color: #235B77;
}

footer p {
    height: auto;
    padding: 5px;
    text-align: center;
    font-size: 20px;
    color: #E6D5C0;
}

/* LoVHA starts here */
a:link {
    color: #235B77;
    text-decoration: none;
}

a:active {
    color: #000;
    text-decoration: underline;
}

.degree a:link {
    font-weight: bold;
}

a:hover, a:focus {
    text-decoration: underline;
    color: #235B77;
}

a:visited {
    color: #000;
}